@import "tailwindcss";

@theme {
  --color-overlay: #ffffff11;
  --color-editor: #222;
  --color-text-primary: #fffe;
  --color-text-secondary: #fff9;
  --color-text-disabled: #fff5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: stretch;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
